@import '../../../assets/css/local.less';
.credit-card {
	padding: 0 20 * @fontSize 20 * @fontSize;
	.card-item {
		background: #fff;
		border-radius: 5px;
		margin-top: 20 * @fontSize;
		// padding: 20 * @fontSize 0 20 * @fontSize 30 * @fontSize;
		.card-name {
			padding: 20 * @fontSize 0 20 * @fontSize 30 * @fontSize;
			color: #505050;
			border-bottom: 1px solid #f7f7f7;
			padding-bottom: 10 * @fontSize;
			padding-right: 10 * @fontSize;
			font-size: 26 * @fontSize;
			.van-button {
				height: inherit;
			}
		}
		.card-content {
			padding: 20 * @fontSize 0 20 * @fontSize 30 * @fontSize;
			// padding: 30 * @fontSize 0 0 20 * @fontSize;
			font-weight: 600;
			font-size: 30 * @fontSize;
			line-height: 80 * @fontSize;
		}
		.mccTipFlag {
			// background: rgba(120, 120, 120, 0.9);
			opacity: 0.5;
		}
	}
	.add-card {
		background: #fff;
		border-radius: 5px;
		// text-align: center;
		line-height: 120 * @fontSize;
		margin-top: 20 * @fontSize;
		font-size: 32 * @fontSize;
	}
}