@import '../../../assets/css/local.less';
.transfer{
	.top{
		margin-top: 20*@fontSize;
		padding-top: 100*@fontSize;
		padding-bottom: 50*@fontSize;
		text-align: center;
		background: #fff;
		p:nth-child(1){
			color: @deepGreen;
		}
		p:nth-child(2){
			font-size: 16px;
		}
	}
	.container{
		margin-top: 20*@fontSize;
		padding-top:16px;
		background: #fff;
		.title{
			padding-left:16px;

		}
	}
	.btn{
		width: calc(100vw - 32px);
		margin-top: 100*@fontSize;
		margin-left: 16px;
	}
	.err-container{
		height: 44px;
		padding-right: 16px; 
		line-height: 44px;
		text-align: right;
		.error{
			color:#ee0a24;
		}
		.tips{
			color: #1989fa
		}
	}
}