@import '../../../assets/css/local.less';
.transfer-scan{
	padding: 20*@fontSize;
	.top{
		padding-top: 16px;
		background-color: #fff;
		// padding-right: 16px;
		p{

			padding-left: 16px;
		}
	}
	.container{
		margin: 20*@fontSize 0;
		background-color: #fff;
		.title{
			padding-top: 16px;
			padding-left: 16px;

		}
		.whole{
			// width: 30px;
			padding: 0 10px;
			color: #707070;
			font-size: 10px;
			border: 1px solid #707070;
			border-radius: 17px;
		}
	}
	.err-container{
		height: 44px;
		padding-right: 16px; 
		line-height: 44px;
		text-align: right;
		.error{
			color:#ee0a24;
		}
		.tips{
			color: #1989fa
		}
	}

}